.kryptomon-list {
    margin-top: -1rem;
}

.kryptomon {
    background-color: white;
    color: #2d2d2d;
    display: flex;
    justify-content: space-evenly;
    border-radius: 1rem;
    margin-block: 1rem;
    box-shadow: 3px 3px 4px #606060;
}

img {
    width: 100%;
}

.image {
    width: 20%;
}

.image img {
    padding: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.info p:first-child {
    font-size: 1.5rem;
    font-weight: bold;
}

.info p:first-child span {
    font-size: 1rem;
    color: #c8c8c8;
}

.info p {
    margin: 0;
    margin-bottom: -0.5rem;
}

.info p:last-child {
    margin: 0;
}

.info p:last-child span {
    font-size: 1.2rem;
    font-weight: bold;
}

.info img {
    width: 2.5rem;
}

.rank {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.rank p {
    margin: 0;
    color: #b9b9b9;
    font-size: 1.2rem;
}

.rank p:first-child {
    font-size: 4rem;
    margin-bottom: -2.5rem;
    color: #484848;
}